body {
     background-color: azure;

}
P { 
    color: rgb(164, 3, 3);
    text-align: center;
    text-decoration: blue; 
}

h1{
    color: black;
    text-align: center;

}
img{
    width: 450px;
    position: static;
}
 
